@charset "ISO-8859-1";
*{
    background: rgb(204, 204, 204);
    font-family: sans-serif;
}
.content{
    /* border: 2px deeppink solid; */
    margin: 30px;
    margin-left: 130px;
}
.edit{
    width: 70px;
    margin: 5px;
    height: 30px;
    color: white;
    background: rgb(73, 73, 252);
    border: none;
    border-radius: 5px;
}
.remove{
    width: 70px;
    margin: 5px;
    height: 30px;
    color: white;
    background: rgb(252, 98, 98);
    border: none;
    border-radius: 5px;
}
.content h3{
    margin: 10px 0px;
}
.form{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
}
.submit{
    margin: 10px 0px;
    height: 30px;
}
.action{
    background-color: white;
    display: flex;
}
.action form{
    background-color: white;
}
.add{
    height: 33px;
    width: 115px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color:green;
    border: none;
    border-radius: 5px;
    color: rgb(222, 221, 221);
}
.add:hover{
    cursor: pointer;
    color: white;
}
th{
    background: black;
    color: white;
    height: 40px;
    border-color: rgb(124, 124, 125);
}
table{
    text-align: center;
    border-collapse: collapse;
}
td{
    background: white;
    justify-content: center;
    border: 2px solid rgb(196, 195, 195);
    text-align: center;
}
.find{
    background-color: white;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}
.notfound{
    margin-top: 0px;
}
.sub{
    margin-left: 5px;
    height: 32px;
    width: 60px;
    color: rgb(222, 221, 221);
    background: rgb(73, 73, 252);
    border: none;
    border-radius: 5px;
}
.sub:hover{
    cursor: pointer;
    color: white;
}
